/*.rbxl
/*.rbxlx

/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

/skills
/AGENTS.md
/roblox.yml
/globalTypes.d.luau

/*.pesde
/*luau_packages
/*lune_packages
/pesde.lock
/*roblox_packages
/*roblox_server_packages
/*out
/.vscode
/.qodo
/temp
/llminfo
/outdated

# Added by cargo

/target
